:root {
  /*use 100vh for mobile responsive
COP!!!*/
  --doc-height: 100%;
}

body {
  /*use 100vh for mobile responsive
COP!!!*/
  height: 100vh; /* fallback for Js load */
  height: var(--doc-height);

  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.lightMode {
  --monitorBackgroundColor: antiquewhite;
}

.darkMode {
  --monitorBackgroundColor: rgb(59, 59, 59);
}

.container {
  position: relative;
  width: 262px;
  /* width: 100%;
  height: 100%; */
  display: grid;
  align-items: center;
  /* column-gap: 50px; */
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: 2fr 1fr 1fr 1fr; */
  grid-template-rows: 3fr repeat(6, 1fr);
  padding: 10px;
  background-color: rgb(30, 53, 53);
  gap: 10px;

  /* min-width: 400px; */
  border-radius: 10px;
  user-select: none; /* Standard syntax */
}
.grid-item {
  /* display: flex; */
  background-color: rgb(182, 201, 219);
  border: 1px solid coral;
  padding: 10px;
  /* align-items: center;
  justify-content: center; */

  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
  /* width: 50px; */
  border-radius: 50%;
}
.monitor {
  text-align: right;
  padding: 10px;
  grid-column-start: 1;
  grid-column-end: 5;
  height: 85%;
  background-color: var(--monitorBackgroundColor);
  border-radius: 5px;
  overflow: hidden;
  text-overflow: clip;
  position: relative;
}
#monitorText {
  font-size: 50px;
  position: absolute;
  right: 8px;
  user-select: text; /* Standard syntax */
}
.control,
.delete,
.history {
  height: 20px;
  justify-items: center;
  align-items: center;
}
.control {
  position: relative;
  grid-column-start: 1;
  grid-column-end: 5;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: medium;
  border: 0px;
  background-color: rgb(41, 68, 68);
}

.delete {
  right: 5px;
  position: absolute;
  font-size: 40px;
  background-color: crimson;
  color: wheat;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid coral;
}
.history {
  color: bisque;
}
.C {
  background-color: crimson;
  color: wheat;
}
.A {
  background-color: greenyellow;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.button:hover {
  opacity: 90%;
  cursor: pointer;
}
.button:active {
  opacity: 50%;
}
img {
  width: 20px;
}
.settings {
  user-select: none; /* Standard syntax */
  position: absolute;
  right: 7px;
  bottom: 2px;
}
.settingsButton {
  opacity: 40%;
}
.settingsButton:hover {
  opacity: 100%;
  cursor: pointer;
}
.settingsMenue {
  position: absolute;
  right: 0px;
  bottom: 2px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  font-weight: bold;
  width: 120px;
  background-color: rgb(231, 209, 179);
  padding: 5px;
  border-radius: 5px;
  opacity: 90%;
  text-align: left;
  /* line-height: 18px; */
  justify-content: center;
  align-items: center;
}

.selected {
  color: brown;
  cursor: default;
}

li {
  color: darkslategray;
  cursor: pointer;
}

.button:active {
  opacity: 50%;
}

@media only screen and (max-width: 420px) {
  /* For mobile phones: */
  .container {
    padding: 0px;
    border: none;
    border-radius: 0%;
    width: 90%;
    height: 90%;
    justify-items: center;
  }
  .monitor {
    height: 90%;
    width: 90%;
  }

  .button {
    width: 12vw;
    height: 12vw;
  }
  .control,
  .delete,
  .history {
    height: 20px;
    justify-items: center;
    align-items: center;
    width: 90%;
  }
  .control {
    position: relative;
  }

  .delete {
    width: 10%;
    position: absolute;
    right: 8px;
  }

  body {
    background-color: rgb(30, 53, 53);
    overflow: hidden;
  }
}
